@page "/"

<PageTitle>@Title</PageTitle>

<h1>Hello, Candidate!</h1>

As you can see, my UX side is absent, that's one of the reasons because we need you.

<br /><br /><br />During this challenge you will have to improve as better you can, some pages to comply with one of the following styles:<br />

            <li><a href="https://www.uber.com/us/en/freight/">Uber Freight</a></li>
            <li><a href="https://freight.amazon.co.uk/">Amazon Freight</a></li>
            <li><a href="https://www.sagefreight.com/">Sage Freight</a></li>
            <li><a href="https://www.jas.com/">Jas Worldwide</a></li>
<br /><br />

Our Priority is the ApiCall page where we want to implement a zip code field to get information dynamically.

But also, as you can see, the project has some issues on running time, are you ready to fix those?.


@code { string Title = "Blazor Designer - Tech Interview By Leonardo Sasso"; }

