@page "/"

<PageTitle>@Title</PageTitle>

<h1>Hello, Candidate!</h1>

As you can see, my UX side is absent, that's one of the reasons because we need you.

<br />
<br />
<br />During this challenge you will have to improve as better you can, some pages to comply with one of the following styles:
<br />

<li>Links will be provide by your Interviewer during the process</li>
<br />
<br />

Our Priority is the ApiCall page where we want to implement a Zip code field to get information dynamically.
<br />
Also Our backend team already has done our API and they gave us a call example on our APICall, now we need to show the information from the Call in an amazing way.


But also, as you can see, the project has some issues on running time, are you ready to fix those?.


@code { string Title = "Blazor Designer - Tech Interview By Leonardo Sasso"; }

